{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1>Code of conduct</h1>

        <p style="margin: 80px 0;">
            <b>
                The main goal of Python CodeClub is to spread knowledge about Python and build a friendly community
                for Python programmers in Estonia.
            </b>
        </p>

        <p>Python CodeClub is for everyone who is interested in Python programming.</p>
        <p>Events are hosted by different sponsors on Wednesdays at 18:00. The exact location and time will be announced on <span class="text-nowrap">codeclub.thorgate.eu</span> and in Facebook before every event.</p>
        <p>All the participants bring their own laptop.</p>
        <p>Every event includes challenges for different levels of expertise.</p>
        <p>Even though the organizers have a general idea of the following events, the event subject can always change.</p>
        <p>Everyone is allowed to present their own ideas and challenges, but try to discuss the subject with an organizer at first in order to make it more useful for the presenter as well as the ones listening.</p>
        <p>Even though there are tutors with CodeClub T-shirts, everyone is allowed to ask questions from all others at any time.</p>
        <p>Everyone is allowed to make suggestions about the organizational part of the events.</p>
        <p>Everyone is allowed to say thank you and show their gratitude to the presenters.</p>

        <p style="margin: 80px 0;">
            Everything provided by our sponsors (knowledge, snacks, positive attitude, etc.) is for those genuinely
            interested in Python. Please don't just take advantage of them!
        </p>

        <p class="text-center">
            <b>The events are made possible thanks to all of our awesome sponsors:</b>
        </p>

        <p class="text-center">
            Thorgate | Mektory | Estonian Information Technology College<br>
            Tallinn University of Technology | Tehnopol<br>
            Pizzakiosk
        </p>
    </div>
{% endblock content %}
